{{ define "main" }}
<div class="main">

  <!--hero section start-->
  <section class="section section-xl pt-9 pb-9 section-header text-white gradient-overly-right-color" style="background-image: url('images/simrik-service-background.jpg')">
      <div class="container">
          <div class="row">
              <div class="owl-carousel owl-theme hero-content-slider custom-dot custom-dot-2">
                  <div class="item">
                      <div class="col-md-8 col-lg-7 col-12">
                          <div class="hero-content-wrap">
                              <h1 class="display-2">Build Fast, Launch Quickly</h1>
                              <p class="lead">Completely harness extensive testing procedures via ubiquitous processes. Globally envisioneer cross </p>
                              <ul class="list-unstyled tech-feature-list text-white">
                                  <li class="py-1"><span class="ti-control-forward mr-2"></span><strong>Accounting</strong> Procedures Guidebook</li>
                                  <li class="py-1"><span class="ti-control-forward mr-2"></span><strong>Cost</strong> Accounting Fundamentals</li>
                                  <li class="py-1"><span class="ti-control-forward mr-2"></span><strong>Corporate</strong> Cash Management</li>
                              </ul>
                              <div class="action-btns pt-3">
                                  <a href="#" class="btn btn-secondary mr-3">Check Prices</a>
                                  <a href="#" class="btn btn-outline-light">Learn More</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="col-md-8 col-lg-7 col-12">
                          <div class="hero-content-wrap position-relative z-index">
                              <h1 class="display-2">Your Most Trusted Business Partner</h1>
                              <p class="lead">Holisticly procrastinate mission-critical convergence with reliable customer service. Assertively underwhelm idea-sharing for impactful solutions. </p>

                              <a href="#" class="btn btn-secondary mt-3">Get Start Now</a>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="col-md-8 col-lg-7 col-12">
                          <div class="hero-content-wrap text-white">
                              <h1 class="display-2">We are Creative Digital Agency</h1>
                              <p class="lead">If your WordPress website is your personal business, we
                                  want you to succeed. We made our Hostlar hosting platform.</p>

                              <ul class="list-unstyled tech-feature-list text-white">
                                  <li class="py-1"><span class="ti-control-forward mr-2"></span>Flexible, Easy to Use</li>
                                  <li class="py-1"><span class="ti-control-forward mr-2"></span><strong>Accounting</strong> Procedures Guidebook</li>
                                  <li class="py-1"><span class="ti-control-forward mr-2"></span><strong>Cost</strong> Accounting Fundamentals</li>
                                  <li class="py-1"><span class="ti-control-forward mr-2"></span><strong>Corporate</strong> Cash Management</li>
                                  <li class="py-1"><span class="ti-control-forward mr-2"></span><strong>45-Day</strong> Money-Back Guarantee</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!--promo section start-->
  <section class="section section-sm pb-0 z-3">
    <div class="container mt-n8">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row text-white shadow-lg">
                    <div class="col-12 col-md-4 px-md-0 mb-4 mb-lg-0">
                        <div class="card-body text-center bg-default border-right border-variant-primary py-5">
                            <h2 class="font-weight-bold"><span class="h4 mr-2">For Industry</span></h2>
                            <p class="mb-0">We provide total industry solutions</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 px-md-0 mb-4 mb-lg-0">
                        <div class="card-body text-center bg-secondary border-right border-variant-primary py-5">
                            <h2 class="font-weight-bold"><span class="h4 mr-2">Digital Agency</span></h2>
                            <p class="mb-0">Web, Digital agency and Marketing Agency</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 px-md-0">
                        <div class="card-body text-center bg-primary py-5">
                            <h2 class="font-weight-bold"><span class="h4 mr-2">For Company</span></h2>
                            <p class="mb-0">We provide quality services for company</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--promo section end-->
{{ end }}