<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="icon"
      href="/assets/img/favicon.png"
      type="image/png"
      sizes="16x16"
    />
    <!-- <title>Simirk Services: Simrik Security Gurkha Force</title> -->
    <title>
      {{ if .IsHome }}Home - {{ else }}{{ if .Page.Title }}{{ .Page.Title }} -
      {{ end }}{{ end }}{{ .Site.Title }}
    </title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    {{ $main := resources.Get "css/main.css" | postCSS | minify | fingerprint
    "md5" }}
    <link rel="stylesheet" href="{{ $main.RelPermalink }}" />
    <link rel="stylesheet" href="/css/custom.css" />
  </head>

  <body>
    <div id="preloader">
      <div class="loader1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="main">
      <section
        class="section py-0 position-relative text-white"
        style="
          background: url('images/event-photo.jpg') no-repeat center center /
            cover;
        "
      >
        <div
          class="section-lg bg-gradient-primary min-vh-100 d-flex align-items-center w-100"
        >
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="text-center">
                  <img
                    src="/images/logo-color.png"
                    alt="SSGF"
                    style="opacity: 0.5; height: 200px"
                  />
                  <h1 class="display-4">Welcome !</h1>
                  <h5>你好 . नमस्ते . Hello</h5>
                  <p>
                    Simrik Security Gurkha Force(SSGF) & Simrik Construction
                    Engineering Limited(SCEL) is a Hong Kong, Nepal & UK based
                    company providing a quality and comprehensive security and
                    specialized construction services with highly trained,
                    motivated and discipline personnels.
                  </p>
                  <!-- <div class="mb-5">
                                    <h5 class="mb-0 text-white"> <span class="ti-mobile mr-2 align-items-center"></span> (612) 255-461</h5>
                                </div>
                            </div> -->
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-12"></div>
              <div class="action-btns pt-3">
                <a href="https://simrikservices/ssgf/" class="btn btn-secondary" style="padding: 10px 30px"><h1 style="margin: 0; padding: 0;">Security</h1></a>
                <a href="https://simrikservice/scel/" class="btn btn-success" style="padding: 10px 30px"><h1 style="margin: 0; padding: 0;">Construction</h1></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--customer logo section end-->
    </div>

    <!--scroll bottom to top button end-->
    <script src="/js/vendors/jquery-3.5.1.min.js"></script>
    <script src="/js/vendors/popper.min.js"></script>
    <script src="/js/vendors/bootstrap.min.js"></script>
    <script src="/js/vendors/jquery.magnific-popup.min.js"></script>
    <script src="/js/vendors/jquery.easing.min.js"></script>
    <script src="/js/vendors/mixitup.min.js"></script>
    <script src="/js/vendors/headroom.min.js"></script>
    <script src="/js/vendors/smooth-scroll.min.js"></script>
    <script src="/js/vendors/wow.min.js"></script>
    <script src="/js/vendors/owl.carousel.min.js"></script>
    <script src="/js/vendors/jquery.waypoints.min.js"></script>
    <script src="/js/vendors/jquery.countdown.min.js"></script>
    <script src="/js/vendors/validator.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
