
{{ define "main" }}
<div class="main">
    {{ partial "pageheader" (dict "cat" "" "catLink" "" "pageTitle" .Title "bg" .Params.headingimage) }}

    <section class="section section-lg">
        <div class="container contact">
            <div class="col-12 pb-3 message-box d-none">
                <div class="alert alert-danger"></div>
            </div>
            <div class="row justify-content-around">
                <div class="col-md-6">
                    <div class="contact-us-form bg-soft rounded p-5">
                        <h4>Ready to get started?</h4>
                        <form name="sitecontactform"  class="contact-us-form mt-4" netlify>
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <select class="form-select form-control" id="country" aria-label="ContactForm">
                                            <option selected>Where do you want to Contact ?</option>
                                            <option value="Hong Kong">HongKong</option>
                                            <option value="Nepal">Nepal</option>
<!--                                             <option value="United Kingdom">United Kingdom</option> -->
                                          </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" placeholder="Enter name" required="required">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Enter email" required="required">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" class="form-control" rows="7" cols="25" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-3">
                                    <button type="submit" class="btn btn-secondary" id="btnContactUs">
                                        Send Message
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="contact-us-content">
                        <h2>Where do you want to contact?</h2>
                        <p class="lead">Click on the buttons below to choose.</p>



                          <div class="btn-group btn-group-toggle" id="selectCountry" data-toggle="buttons">
                            <label class="btn btn-secondary" id="hk">
                              <input type="radio" name="options" value="Hong Kong" checked> Hong Kong
                            </label>
                            <label class="btn btn-dark" id="np">
                              <input type="radio" name="options" value="Nepal"> Nepal
                            </label>
<!--                             <label class="btn btn-dark" id="uk">
                              <input type="radio" name="options" value="United Kingdom"> United Kingdom
                            </label> -->
                          </div>

                        <hr class="my-5">

                        <h5>Contact Info</h5>
                        <address id="hkaddress">
                            {{.Site.Data.settings.hkcontact | markdownify }}
                        </address>

                        <address id="npaddress">
                            {{.Site.Data.settings.nepalcontact | markdownify }}
                        </address>

<!--                         <address id="ukaddress">
                            {{.Site.Data.settings.ukcontact | markdownify }}
                        </address> -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--contact us section end-->

    
    <!--contact map section start-->
    <div class="section py-0">
        <div class="google-map mb-n2 opacity-9 w-100" id="hkmap">
            <iframe
            id="hkiframe"
            height="500"
            frameborder="0" style="border:0"
            src="" allowfullscreen>
            </iframe>
        </div>
        <div class="google-map mb-n2 opacity-9 w-100" id="npmap"></div>
        <div class="google-map mb-n2 opacity-9 w-100" id="ukmap">
            <iframe
            id="ukiframe"
            height="500"
            frameborder="0" style="border:0"
            src="" allowfullscreen>
            </iframe>
        </div>
    </div>

</div>
<script>
    fetch('https://api.ipregistry.co/?key=ak6eddpkgifpki2x')
    .then(function (response) {
        return response.json();
    })
    .then(function (payload) {
        console.log(payload.location.country.name + ', ' + payload.location.city);
        const country = payload.location.country.name;
        document.getElementById("country").value = country;
        setAddressAndMap(country)
        setButtonColors(country)
        
        
    });

    const selectCountry = document.getElementById("selectCountry");
    selectCountry.addEventListener("click", function() {
        
        
        document.getElementById("country").value = document.querySelector('input[name="options"]:checked').value;
        setButtonColors(document.querySelector('input[name="options"]:checked').value)
        setAddressAndMap(document.querySelector('input[name="options"]:checked').value)
    })

    function setAddressAndMap(country) {
        document.getElementById('ukaddress').style.display = 'none'
        document.getElementById('hkaddress').style.display = 'none'
        document.getElementById('npaddress').style.display = 'none'
        document.getElementById('ukmap').style.display = 'none'
        document.getElementById('hkmap').style.display = 'none'
        document.getElementById('npmap').style.display = 'none'
        if (country === 'Hong Kong') {
            document.getElementById('hkaddress').style.display = 'block'
            document.getElementById('hkmap').style.display = 'block'
        } else if (country === 'Nepal') {
            document.getElementById('npaddress').style.display = 'block'
            document.getElementById('npmap').style.display = 'block'
        } else {
            document.getElementById('ukaddress').style.display = 'block'
            document.getElementById('ukmap').style.display = 'block'
        }
    }

    function setButtonColors(country) {
        document.getElementById('hk').classList.remove("btn-secondary")
        document.getElementById('np').classList.remove("btn-secondary")
        document.getElementById('uk').classList.remove("btn-secondary")
        document.getElementById('hk').classList.remove("btn-dark")
        document.getElementById('np').classList.remove("btn-dark")
        document.getElementById('uk').classList.remove("btn-dark")

        if (country === "Hong Kong") {
            document.querySelector('#hk').classList.add("btn-secondary")
            document.getElementById('np').classList.add("btn-dark")
            document.getElementById('uk').classList.add("btn-dark")           
        } else if (country === "Nepal") {
            document.querySelector('#np').classList.add("btn-secondary")
            document.getElementById('hk').classList.add("btn-dark")
            document.getElementById('uk').classList.add("btn-dark")      
        } else {
            document.querySelector('#uk').classList.add("btn-secondary")
            document.getElementById('np').classList.add("btn-dark")
            document.getElementById('hk').classList.add("btn-dark")  
        }
    }


    // var basemapsrc = "https://www.google.com/maps/embed/v1/view?key=AIzaSyAfHpaendzkB-S2wnp3nfQNtYgaX1f5e-A&zoom=18&center="
    var basemapsrc = "https://maps.google.com/maps?z=15&output=embed&q="
    var nepalmap = JSON.parse("{{.Site.Data.settings.nepalmap}}");
    var nepalsrc = basemapsrc + nepalmap.coordinates[1] + "," + nepalmap.coordinates[0]
    var npiframe = '<iframe height="500" frameborder="0" style="border:0" src="' + nepalsrc + '" allowfullscreen></iframe>'
    document.getElementById('npmap').innerHTML = npiframe

    var hkmap = JSON.parse("{{.Site.Data.settings.hkmap}}");
    var hksrc = basemapsrc + hkmap.coordinates[1] + "," + hkmap.coordinates[0]
    var hkiframe = '<iframe height="500" frameborder="0" style="border:0" src="' + hksrc + '" allowfullscreen></iframe>'
    document.getElementById('hkmap').innerHTML = hkiframe

    var ukmap = JSON.parse("{{.Site.Data.settings.ukmap}}");
    var uksrc = basemapsrc + ukmap.coordinates[1] + "," + ukmap.coordinates[0]
    var ukiframe = '<iframe height="500" frameborder="0" style="border:0" src="' + uksrc + '" allowfullscreen></iframe>'
    document.getElementById('ukmap').innerHTML = ukiframe

    
</script>
{{ end }}
  


