
{{ define "main" }}
<div class="main">
    {{ partial "pageheader" (dict "cat" "" "catLink" "" "pageTitle" .Title "bg" .Params.headingimage) }}

    <section class="section section-lg">
        <div class="container contact">
            <div class="col-12 pb-3 message-box d-none">
                <div class="alert alert-danger"></div>
            </div>
            <div class="row justify-content-around">
                <div class="col-md-6">
                    <div class="contact-us-form bg-soft rounded p-5">
                        <h4>Ready to get started?</h4>
                        <form name="sitecontactform"  class="contact-us-form mt-4" netlify>
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" placeholder="Enter name" required="required">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Enter email" required="required">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" class="form-control" rows="7" cols="25" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-3">
                                    <button type="submit" class="btn btn-secondary" id="btnContactUs">
                                        Send Message
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="contact-us-content">
                        <h2>Looking for any Consultation?</h2>
                        <p class="lead">We can provide you with professional advice and free Quote according to your requirements.</p>

                        <a href="#" class="btn btn-outline-secondary align-items-center">Get Directions <span class="ti-arrow-right pl-2"></span></a>

                        <hr class="my-5">

                        <h5>Our Headquarter</h5>
                        <address>
                            {{.Site.Data.settings.hkcontact | markdownify }}
                        </address>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--contact us section end-->

    <!--contact map section start-->
    <div class="section py-0">
        <div class="google-map mb-n2 opacity-9 w-100">
            <iframe
  height="500"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAfHpaendzkB-S2wnp3nfQNtYgaX1f5e-A&center=27.7090319,85.3172917&zoom=18" allowfullscreen>
</iframe>
        </div>
    </div>

</div>
{{ end }}
  


