<section class="section section-lg ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-heading text-center mb-5">
                    {{ .Site.Data.settings.newssubtext | markdownify  }}
                </div>
            </div>
        </div>
        <div class="row">

            {{ $tpages := where site.RegularPages "Section" "newsevents" }}
            {{ range ($tpages.ByParam "order") }}
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-4 mb-lg-0 mb-4">
                <div class="card bg-white border-variant-soft shadow-soft">
                    <div class="blog-img position-relative">
                        <img src="{{.Params.mainimage}}" class="card-img-top rounded-top" alt="themetags office">
                        <a href="#" class="position-absolute category-text small badge badge-secondary">{{.Params.keyword}}</a>
                    </div>
                    <div class="card-body">
                    <div class="media d-flex align-items-center justify-content-between">
                            <div class="post-group">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                                    <img class="avatar avatar-xs mr-2 img-fluid rounded-circle border border-variant-primary p-1" src="images/clients/client-1.jpg" alt="{{ }}"> <span class="small">SSGF</span>
                                </a>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt mr-2"></span>15 March 2020</span>
                            </div>
                        </div>
                        <h3 class="h5 card-title mt-3"><a href="#">{{.Title}}</a></h3>
                        <p class="card-text">{{.Description}}</p>
                        <a href="" class="link-with-icon text-default font-small font-weight-bold" target="_blank">Read more <span> <i class="fas fa-angle-right"></i></span></a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>




<!--blog section start-->
<section class="section section-lg ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-heading text-center mb-5">
                    <h2>Our Latest News xxx</h2>
                    <p class="lead">News and Blogs to inform you about our events and activities.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-4 mb-lg-0 mb-4">
                <div class="card bg-white border-variant-soft shadow-soft">
                    <div class="blog-img position-relative">
                        <img src="images/ktmairport.jpg" class="card-img-top rounded-top" alt="themetags office">
                        <a href="#" class="position-absolute category-text small badge badge-secondary">Nepal</a>
                    </div>
                    <div class="card-body">
                        <div class="media d-flex align-items-center justify-content-between">
                            <div class="post-group">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                                    <img class="avatar avatar-xs mr-2 img-fluid rounded-circle border border-variant-primary p-1" src="images/logo-color.png" alt="SSGF"> <span class="small">SSGF</span>
                                </a>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt mr-2"></span>15 March 2020</span>
                            </div>
                        </div>
                        <h3 class="h5 card-title mt-3"><a href="#">Arrival of VIP from Abroad</a></h3>
                        <p class="card-text">Arrival of Mr. xxx from Singapoore for 10 days visit all around Nepal, SSGF Nepal Section handled the complete protection and logistics.</p>
                        <a href="/" class="link-with-icon text-default font-small font-weight-bold" target="_blank">Read more <span> <i class="fas fa-angle-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-4 mb-lg-0 mb-4">
                <div class="card bg-white border-variant-soft shadow-soft">
                    <div class="blog-img position-relative">
                        <img src="/images/hk1.jpg" class="card-img-top rounded-top" alt="themetags office">
                        <a href="#" class="position-absolute category-text small badge badge-secondary">Hong Kong</a>
                    </div>
                    <div class="card-body">
                        <div class="media d-flex align-items-center justify-content-between">
                            <div class="post-group">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                                    <img class="avatar avatar-xs mr-2 img-fluid rounded-circle border border-variant-primary p-1" src="images/logo-color.png" alt="SSGF"> <span class="small">Writer</span>
                                </a>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt mr-2"></span>15 March 2020</span>
                            </div>
                        </div>
                        <h3 class="h5 card-title mt-3"><a href="#">Phoebe Moon is leaving Us</a></h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content which explain the news.</p>
                        <a href="/" class="link-with-icon text-default font-small font-weight-bold" target="_blank">Read more <span> <i class="fas fa-angle-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-4 mb-lg-0 mb-4">
                <div class="card bg-white border-variant-soft shadow-soft">
                    <div class="blog-img position-relative">
                        <img src="/images/hk2.jpg" class="card-img-top rounded-top" alt="themetags office">
                        <a href="#" class="position-absolute category-text small badge badge-secondary">Hong Kong</a>
                    </div>
                    <div class="card-body">
                        <div class="media d-flex align-items-center justify-content-between">
                            <div class="post-group">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                                    <img class="avatar avatar-xs mr-2 img-fluid rounded-circle border border-variant-primary p-1" src="images/logo-color.png" alt="SSGF"> <span class="small">Joe B</span>
                                </a>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt mr-2"></span>15 March 2020</span>
                            </div>
                        </div>
                        <h3 class="h5 card-title mt-3"><a href="#">Some Event in Hong Kong</a></h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. It was very important.</p>
                        <a href="/" class="link-with-icon text-default font-small font-weight-bold" target="_blank">Read more <span> <i class="fas fa-angle-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--blog section end-->