<form name="sitecontactform"  class="contact-us-form mt-4" netlify>
  <div class="form-row">
      <div class="col-12">
          <div class="form-group">
              <select class="form-select form-control" id="country" aria-label="ContactForm">
                  <option selected>Where do you want to Apply ?</option>
                  <option value="Hong Kong">HongKong</option>
                  <option value="Nepal">Nepal</option>
                  <option value="United Kingdom">United Kingdom</option>
                </select>
          </div>
      </div>
      <div class="col-12">
          <div class="form-group">
              <input type="text" class="form-control" name="name" placeholder="Enter name" required="required">
          </div>
      </div>
      <div class="col-12">
          <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Enter email" required="required">
          </div>
      </div>
      <div class="col-12">
          <div class="form-group">
              <textarea name="message" id="message" class="form-control" rows="7" cols="25" placeholder="Message"></textarea>
          </div>
      </div>
      <div class="col-sm-12 mt-3">
          <button type="submit" class="btn btn-secondary" id="btnContactUs">
              Send Message
          </button>
      </div>
  </div>
</form>