<form name="nepalCareerForm" class="contact-us-form mt-4" netlify>
  <div class="form-row">
    <div class="col-12">
      <div class="form-group">
        <select
          class="form-select form-control"
          name="country"
          id="country"
          aria-label="Nepal Career Form"
        >
        <option value="Hong Kong">HongKong</option>
        <option value="Nepal">Nepal</option>
        <option value="United Kingdom">United Kingdom</option>
        </select>
      </div>
    </div>
    <h6>Applying For</h6>
    <div class="col-12">
      <div class="form-group">
        <select
          class="form-select form-control"
          name="gender"
          aria-label="Nepal Career Form"
        >
          <option value="Guard">Guard</option>
          <option value="Guard Supervisor">Guard Supervisor</option>
          <option value="Security Officer">Security Officer</option>
          <option value="Bouncer">Bouncer</option>
          <option value="Others">Others</option>
        </select>
      </div>
    </div>
    <h6>General Information</h6>
    <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="fullname"
          placeholder="Enter Full Name (Required)"
          required="required"
        />
      </div>
    </div>
    <!-- <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="grandfathername"
          placeholder="Enter Grand Father Name"
          required="required"
        />
      </div>
    </div> -->
    <!-- <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="fathername"
          placeholder="Enter Father Name"
          required="required"
        />
      </div>
    </div> -->
    <!-- <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="mothername"
          placeholder="Enter Mother Name"
          required="required"
        />
      </div>
    </div> -->
    <!-- <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="birthplace"
          placeholder="Birth Place"
          required="required"
        />
      </div>
    </div> -->
    <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="birthdate"
          placeholder="Birth Date (Required)"
          required="required"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="citizenship"
          placeholder="Enter Citizenship Number"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <select
          class="form-select form-control"
          name="gender"
          aria-label="Nepal Career Form"
        >
          <option value="Select Gender">Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="contactnumber"
          placeholder="Enter Contact Number (Required)"
          required="required"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="Enter email"
        />
      </div>
    </div>
    <h6>Preface</h6>
    <div class="col-12">
      <div class="form-group">
        <select
          class="form-select form-control"
          name="servicebackground"
          aria-label="Nepal Career Form"
        >
          <option value="Select Gender">Service Background</option>
          <option value="Nepal Army">Nepal Army</option>
          <option value="Nepal Police">Nepal Police</option>
          <option value="Nepal Armed Police Force">Nepal Armed Police Force</option>
          <option value="Indian Army">Indian Army</option>
          <option value="Civilian">Civilian</option>
        </select>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <select
          class="form-select form-control"
          name="position"
          aria-label="Nepal Career Form"
        >
          <option value="Select Gender">Position</option>
          <option value="Technical">Technical</option>
          <option value="Administration">Administration</option>
          <option value="Infantry">Infantry</option>
          <option value="Special Forces">Special Forces</option>
        </select>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="employmentleftyear"
          placeholder="Employment Left Year"
        />
      </div>
    </div>
    <h6>Physical Appearance</h6>
    <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="height"
          placeholder="Height (in ft)"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="Weight"
          placeholder="Weight (Kg)"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="complexion"
          placeholder="Complexion"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <select
          class="form-select form-control"
          name="bodytype"
          aria-label="Nepal Career Form"
        >
          <option value="Select Gender">Body Type</option>
          <option value="Muscular">Muscular</option>
          <option value="Atheletic">Atheletic</option>
          <option value="Thin">Thin</option>
          <option value="Obese">Obese</option>
          <option value="Others">Others</option>
        </select>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="listeningpower"
          placeholder="Listening Power"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="eyesight"
          placeholder="Eye Sight"
        />
      </div>
    </div>

    <h6>Education (Last one only)</h6>
    <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="institution"
          placeholder="College / University"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="level"
          placeholder="Level"
        />
      </div>
    </div>

    <h6>Training & Experience</h6>
    <div class="col-12">
      <div class="form-group">
        <textarea
          name="experience"
          id="message"
          class="form-control"
          rows="7"
          cols="25"
          placeholder="Message"
        ></textarea>
      </div>
    </div>
    

    <h6>Family Informaiton</h6>
    <div class="col-12">
      <div class="form-group">
        <textarea
          name="family"
          id="message"
          class="form-control"
          rows="7"
          cols="25"
          placeholder="Message"
        ></textarea>
      </div>
    </div>

    <div class="col-sm-12 mt-3">
      <button type="submit" class="btn btn-secondary" id="btnContactUs">
        Send Message
      </button>
    </div>
  </div>
</form>
